<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-article-my-suffix-heading"
        data-cy="ArticleCreateUpdateHeading"
        jhiTranslate="samagricoleApp.article.home.createOrEditLabel"
      >
        Créer ou éditer un Article
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="samagricoleApp.article.code" for="field_code">Code</label>
          <input type="text" class="form-control" name="code" id="field_code" data-cy="code" formControlName="code" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="samagricoleApp.article.libelle" for="field_libelle">Libelle</label>
          <input type="text" class="form-control" name="libelle" id="field_libelle" data-cy="libelle" formControlName="libelle" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="samagricoleApp.article.pUHT" for="field_pUHT">P UHT</label>
          <input type="text" class="form-control" name="pUHT" id="field_pUHT" data-cy="pUHT" formControlName="pUHT" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="samagricoleApp.article.tVA" for="field_tVA">T VA</label>
          <div class="d-flex">
            <input
              id="field_tVA"
              data-cy="tVA"
              type="datetime-local"
              class="form-control"
              name="tVA"
              formControlName="tVA"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="samagricoleApp.article.pUTTC" for="field_pUTTC">P UTTC</label>
          <input type="number" class="form-control" name="pUTTC" id="field_pUTTC" data-cy="pUTTC" formControlName="pUTTC" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="samagricoleApp.article.categorie" for="field_categorie">Categorie</label>
          <select
            class="form-control"
            id="field_categorie"
            data-cy="categorie"
            name="categorie"
            formControlName="categorie"
            [compareWith]="compareCategorieMySuffix"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="categorieOption" *ngFor="let categorieOption of categoriesSharedCollection">{{ categorieOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
